.resenas-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #b788bd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  font-family: "Arial", sans-serif;
}

.resena-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.resena-form input,
.resena-form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.resena-form input:focus,
.resena-form textarea:focus {
  border-color: #ff80e8;
  box-shadow: 0 0 5px rgba(74,144,226,0.5);
}

.resena-form button {
  padding: 12px;
  background: #ae3099;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.resena-form button:hover {
  background: #ffaf00;
}

.resena-card {
   background: #ae3099;
  border: 0.5px solid #313131;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  margin-bottom: 15px;
  transition: 0.3s;
}

.resena-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.resena-card strong {
  color: #333;
  font-size: 16px;
}

.resena-card p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #1c1c1c;
}

.sin-resenas {
  color: #000000;
  font-style: italic;
}
.rating-radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating-radio input {
  display: none;
}

.rating-radio span {
  font-size: 28px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.rating-radio input:checked ~ span,
.rating-radio label:hover ~ label span,
.rating-radio label:hover span {
  color: gold;
}
