@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

#first {
    height: 8vh;
    display: flex;
    width: 100vw;
    background-color: #FFFFFF;
    align-items: center;
}

#first>p,
#first>nav {
    width: 50%;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: .8rem;
}

a:hover {
    color: #8d0ce3;
}

#second {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC526;
    row-gap: .5rem;
}

#second>p {
    width: 40%;
    text-align: center;
    font-size: .9rem;
}

#third {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    width: 100vw;
    justify-content: center;
    height: 330px;
}

#third > div{
    width: 50%;
}

#left_third {
    display: flex;
    justify-content: flex-end;
}

#image_third {
    background-image: url(/img/perro2.webp);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: contain;
    background-color: #DFDED9;
}

#right_third{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

#right_third>p:nth-child(1) {
    font-style: italic;
    width: 60%;
}
#right_third>p:nth-child(2) {
    font-weight: bold;
}
#right_third>p:nth-child(3) {
    font-weight: 300;
    font-size: 1.6rem;
}
#right_third>p>span{
    color: #8d0ce3;
}

#fourth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    row-gap: 1rem;
}

#fourth>p, #fourth>div {
    width: 100%;
}

.client{
    background-image: url(/img/perro3.png);
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 150px;
    background-color: #8d0ce3;
}
#clients{
    display: flex;
    flex-wrap: wrap;
    width: 599px !important;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.client:nth-child(1){
    background-color: #00B6A3;
}
.client:nth-child(2){
    background-color: #007FB3;
}
.client:nth-child(3){
    background-color: #EA0000;
}
.client:nth-child(4){
    background-color: #FF503B;
}
.client:nth-child(5){
    background-color: #C30199;
}
.client:nth-child(6){
    background-color: #FFCC00;
}